.content {
    padding-top: 0px;
}

@media screen and (max-width: 768px) {
    .markdown-section {
        max-width: 90%;
    }
}

.write-date {
    font-size: 0.8rem;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 4px;
    color: rgb(147, 147, 147);
}

.holder {
    border: 1px var(--theme-color,#42b983) solid;
    width: 100%;
    padding: 20px;
}

.indent {
    text-indent: 1rem;
}

/*
 * Gitalk container size
 */
#gitalk-container {
    margin: 0 auto;
    max-width: 80%;
    padding: 0px 15px 35px 15px;
}
.gt-container .gt-header-controls {
    display: flex;
}
.gt-container .gt-header-controls-tip {
    flex: 1;
}

/*
 * Gitalk container theme color
 */
.gt-container .gt-comment-username,
.gt-container a,
.gt-container .gt-link-counts,
.gt-container .gt-header-controls-tip {
    color: var(--theme-color,#42b983) !important;
}
.gt-container .gt-btn {
    border: 1px solid var(--theme-color,#42b983) !important;
    background-color: var(--theme-color,#42b983) !important;
}
.gt-container .gt-btn-preview {
    background-color: white !important;
    color: var(--theme-color,#42b983) !important;
}
.gt-container .gt-svg svg {
    fill: var(--theme-color,#42b983) !important;
}
.gt-container .gt-comment-admin .gt-comment-content {
    background-color: #f6fef7 !important;
}